.NavBarComponent{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    padding: 15px;
    width:60px;
    height:60px;
    cursor: pointer;
}
.NavIcons{
    display: flex;
    list-style-type: none;
}
.NavIcons:hover{
    cursor: pointer;
}
.NavIcons >li{
    font-size: 20px;
    padding: 20px;
}

.ResImage{
    width: 284px;
    height: 227px;
    border-radius: 10px;
}
.ResCard{
    margin: 2rem;
}
.ResCard:hover{
    cursor: pointer;
    border:1px solid black;
    border-radius: 10px;
}
.resContainer{
    width:84%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    
}
.topRated{
    display: flex;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 12px;
    margin-left: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }
  .search{
    border: 2px solid;
    width:20rem;
  }

